<div class="container row pt - 4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Contact Us</h1>
       <h3>Please Reach out to us at +91-8500000123</h3>
        <br /><br />
        <img src="~/images/call.PNG" width="40"/><br />
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
       Main Branch<br />
       <b>Green Car Rentals
       <br />
       Aparna Serine Hills
       <br />
       GachiBowli, Hyderabad - 500075
       <b>
        <br />
        
    </div>
   
        <br />
      
        <br />
        
    </div>
</div> 
